Repository cncf/toc, pull requests merged in 2019-10, with the labels that each got.

#259 Propose Longhorn into CNCF Sandbox
  proposals/longhorn.adoc
Labels: new project, sandbox

#297 CloudEvents incubator proposal
  reviews/incubation-cloudevents.md
Labels: incubation

#171 Jaeger graduation proposal
  reviews/graduation-jaeger.md
Labels: graduation
