Repository cncf/toc, pull requests merged in 2020-06, with the labels that each got.

#394 Cortex 2020 Annual Review
  reviews/2020-cortex-annual.md
Labels: annual review

#382 SPIFFE/SPIRE Incubation Proposal
  reviews/spiffe-spire-incubation.md
Labels: incubation, reviewed-by-sig

#311 Harbor Graduation Proposal
  proposals/graduation/harbor.md
Labels: graduation, reviewed-by-sig, sig-runtime

#454 Add Crossplane as CNCF Sandbox project
  proposals/sandbox/crossplane.md
Labels: new project, sandbox, sig-app-delivery

#453 BFE proposal as a CNCF SandBox project
  proposals/sandbox/bfe.adoc
Labels: new project, sandbox, sig-network

#379 Propose donation of Dex as a Sandbox project
  proposals/dex.md
Labels: new project, sandbox, sig-security

#409 Adding Artifact Hub sandbox proposal
  proposals/sandbox/artifacthub.md
Labels: new project, sandbox

#391 Propose LitmusChaos as a CNCF SandBox project
  proposals/sandbox/LitmusChaos.md
Labels: sandbox, sig-app-delivery

#208 Add CNI-Genie Sandbox Project Proposal
  proposals/cni-genie.adoc
Labels: new project, sandbox, sig-network

#237 Keptn project CNCF proposal
  proposals/keptn.adoc
Labels: new project, reviewed-by-sig, sandbox, sig-app-delivery

#261 KUDO proposal for CNCF Sandbox
  proposals/kudo.adoc
Labels: new project, sandbox, sig-app-delivery

#441 Propose PARSEC for inclusion to CNCF Sandbox
  proposals/sandbox/parsec.md
Labels: new project, sandbox, sig-security

#437 Kuma proposal as a CNCF SandBox project
  proposals/sandbox/kuma.md
Labels: new project, sandbox, sig-network
