Repository cncf/toc, pull requests merged in 2020-08, with the labels that each got.

#434 Add 2020 Telepresence Sandbox Annual Review
  reviews/2020-telepresence-annual.md
Labels: annual review

#342 Added Proposal for advancing Thanos to the Incubation Stage 🎉
  proposals/thanos-incubation.md
Labels: incubation, sig-observability

#447 Submit k3s for inclusion to CNCF as a sandbox project
  proposals/sandbox/k3s.md
Labels: new project, sandbox

#315 Cortex incubation review
  reviews/incubation-cortex.md
Labels: incubation, sig-observability
