Repository cncf/toc, pull requests merged in 2020-09, with the labels that each got.

#408 Sandbox proposal for metal3-io
  proposals/sandbox/metal3-io.adoc
Labels: new project, sandbox, sig-runtime

#414 TiKV graduation proposal
  proposals/graduation/graduation-tikv.md
Labels: graduation, sig-storage

#476 Add Backstage as CNCF Sandbox project
  proposals/sandbox/backstage.md
Labels: new project, sandbox, sig-app-delivery

#492 Add sandbox proposal for tremor project
  proposals/sandbox/tremor.md
Labels: new project, sandbox

#507 Add Open Service Mesh as CNCF Sandbox project
  proposals/sandbox/openservicemesh.md
Labels: new project, sandbox

#461 KubeEdge incubation review
  reviews/incubation-kubeedge.md
Labels: incubation, sig-runtime

#496 Add Keylime as a CNCF Sandbox Proposal
  proposals/sandbox/keylime.md
Labels: new project, sandbox
