Repository cncf/toc, pull requests merged in 2020-04, with the labels that each got.

#299 Argo proposal for CNCF Incubation
  proposals/argo.adoc
Labels: incubation, new project, reviewed-by-sig, sig-app-delivery

#276 Dragonfly Incubating Stage Review
  reviews/incubation-dragonfly.md
Labels: incubation, reviewed-by-sig, sig-storage

#318 Added Volcano as CNCF Sandbox.
  proposals/volcano.md
Labels: sandbox, sig-runtime

#384 Proposal for Helm graduation
  proposals/graduation/helm.md
Labels: graduation, sig-app-delivery
