Repository cncf/toc, pull requests merged in 2022-09, with the labels that each got.

#644 Proposing Cloud Custodian for Incubation
  proposals/incubation/cloudcustodian.md
  proposals/sandbox/cloudcustodian.md
Labels: incubation

#586 proposal: chubaofs to incubation stage
  reviews/incubation-chubaofs.md
Labels: incubation, tag-storage

#915 Proposal: Archiving Brigade
  docs/PROJECTS.csv
  docs/projects.md
  proposals/archive/brigade.md
Labels: archive

#863 CNI-Genie 2022 Annual Review
  reviews/2022-CNIGenie-annual.md
Labels: annual review

#870 Fluid 2022 Annual Review
  reviews/2022-fluid-annual.md
Labels: annual review

#871 Antrea-2022-Annual Review
  reviews/2022-Antrea-annual.md
Labels: annual review

#872 Telepresence 2022 Annual Review
  reviews/2022-telepresence-annual.md
Labels: annual review

#873 WasmEdge Runtime-2022-Annual Review
  reviews/2022-wasmedge-annual.md
Labels: annual review

#874 Vineyard-2022-Annual Review
  reviews/2022-vineyard-annual.md
Labels: annual review

#908 Add Pixie-2022-Annual Review
  reviews/2022-pixie-annual.md
Labels: annual review

#827 Proposing Istio to become a CNCF project
  proposals/incubation/istio.md
Labels: incubation, new project
