Repository cncf/toc, pull requests merged in 2023-12, with the labels that each got.

#1169 Meshery 2023 Annual Review
  reviews/sandbox/2023/2023-Meshery-annual.md
Labels: annual review

#1088 FabEdge 2022 Annual Review
  reviews/sandbox/2022/2022-FabEdge-annual.md
Labels: annual review

#993 [Annual Review] KubeDL 2022 Annual Review
  reviews/2022-kubedl-annual.md
Labels: tag-runtime, annual review

#1109 Add WasmEdge 2022 Annual Review
  reviews/sandbox/2022-wasmedge-annual.md
Labels: tag-runtime, annual review

#986 Add karmada incubation proposal
  proposals/incubation/karmada.md
Labels: incubation

#985 Proposing OpenFeature for Incubation
  proposals/incubation/openfeature.md
Labels: incubation

#1179 Kubewarden 2023 annual review.
  reviews/sandbox/2023/2023-kubewarden-annual.md
Labels: annual review
