Repository cncf/toc, pull requests merged in 2023-10, with the labels that each got.

#949 Tremor 2022 annual review
  reviews/2022-tremor-annual.md
Labels: tag-observability, annual review

#951 Porter 2022 Annual Review
  reviews/2022-porter-annual.md
Labels: tag-app-delivery, annual review

#1049 Update runtime-charter.md
  tags/runtime-charter.md
Labels: enhancement, tag-runtime, for-liaison-approval

#937 Update PRINCIPLES.md (grammar)
  PRINCIPLES.md
Labels: enhancement

#1050 Update and clarify archival process
  process/README.md
  process/archiving.md
Labels: enhancement

#1156 Proposal to archive SMI
  proposals/archive/smi.md
Labels: archive

#952 feat: Proposal for Cilium to become a CNCF graduated project
  proposals/graduation/cilium.md
Labels: graduation
