Repository cncf/toc, pull requests merged in 2024-01, with the labels that each got.

#1073 Pravega 2022 annual review
  reviews/sandbox/2022/2022-Pravega-annual.md
Labels: tag-storage, annual review

#1067 K8up 2022 Annual Review
  reviews/sandbox/2022/2022-k8up-annual.md
Labels: tag-storage, annual review

#1106 Athenz 2023 Annual Review
  reviews/2023-Athenz-annual.md
Labels: tag-security, annual review

#1069 KubeArmor 2022 Annual Review
  reviews/sandbox/2022/2022-KubeArmor-annual.md
Labels: tag-security, annual review

#995 ChaosBlade 2022 Annual Review
  reviews/2022-ChaosBlade-annual.md
Labels: tag-security, annual review

#959 Keylime 2022 Annual Review
  reviews/2022-Keylime-annual.md
Labels: tag-security, annual review

#957 Inclavare 2022 Annual Review
  reviews/2022-Inclavare-annual.md
Labels: tag-security, annual review

#1197 wasmCloud 2022 Annual Review
  reviews/sandbox/2022/2022-wasmCloud-annual.md
Labels: tag-runtime, annual review

#1077 Virtual Kubelet 2022 Annual Review
  reviews/sandbox/2022/2022-virtualkubelet-annual.md
Labels: tag-runtime, annual review

#982 Open Cluster Management 2022 Annual Review.
  reviews/2022-open-cluster-management-annual.md
Labels: tag-runtime, annual review

#958 Metal3-io-2022-Annual Review
  reviews/2022-metal3-io-annual.md
Labels: tag-runtime, annual review

#955 k3s-2022-Annual Review
  reviews/2022-k3s-annual.md
Labels: tag-runtime, annual review

#1153 Add k8gb 2023 annual review
  reviews/sandbox/2023/2023-k8gb-annual.md
Labels: tag-network, annual review

#1112 Add Kube-OVN 2023 annual review
  reviews/sandbox/2023/2023-Kube-OVN-annual.md
Labels: tag-network, annual review

#1115 Add Submariner 2023 review
  reviews/sandbox/2023/2023-submariner-annual.md
Labels: tag-network, annual review

#1071 OpenELB 2022 annual review
  reviews/sandbox/2022/2022-OpenELB-annual.md
Labels: tag-network, annual review

#1066 upload BFE 2022 annual review
  reviews/sandbox/2022/2022-Bfe-anual.md
Labels: tag-network, annual review

#1078 Kuma 2022 Annual Review
  reviews/sandbox/2022/2022-kuma-annual.md
Labels: tag-network, annual review

#1041 Sealer 2022 Annual Review
  reviews/2022-sealer-annual.md
Labels: tag-app-delivery, annual review

#1024 CDK For Kubernetes (cdk8s) 2022 Annual Review
  reviews/2022-cdk8s-annual.md
Labels: tag-app-delivery, annual review

#1178 Antrea 2023 Annual Review
  reviews/sandbox/2023/2023-antrea-annual.md
Labels: annual review

#1175 Clusterpedia 2023 Annual Review
  reviews/sandbox/2023/2023-Clusterpedia-annual.md
Labels: annual review

#1166 OpenCost 2022 Annual Review
  reviews/sandbox/2022/2022-opencost-annual.md
Labels: annual review

#1099 [Serverless Workflow Specification] [2022] Annual Review
  reviews/sandbox/2022/2022-ServerlessWorkflowSpecification-annual.md
Labels: annual review

#1087 kube-rs 2022 annual review
  reviews/sandbox/2022/2022-kube-rs-annual.md
Labels: annual review

#1233 Initial tag folder clean up
  tags/README.md
  tags/cncf-tags.md
  tags/emeritus_leaders.md
  tags/resources/chair-transition.md
  tags/resources/cncf-tags-github-org.md
  tags/resources/tag-formation-guides/faq-tag-formation-lessons-learned.md
Labels: enhancement

#1143 Aeraki Mesh 2023 Annual Review
  reviews/sandbox/2023/2023-Aeraki-Mesh-annual.md
Labels: annual review

#1136 Dex 2023 Annual Review
  reviews/sandbox/2023/2023-dex-annual.md
Labels: annual review

#996 CloudEvents Graduation Proposal + DD
  proposals/graduation/cloudevents-dd.md
  proposals/graduation/cloudevents.md
Labels: graduation
