Repository cncf/toc, pull requests merged in 2024-12, with the labels that each got.

#1195 Add TAG leadership election governance template
  tags/resources/tag-formation-templates/template-leadership-election-process.md
Labels: process-documentation

#1046 OpenCost Incubation Proposal
  proposals/incubation/opencost.md
Labels: incubation, gitvote

#1473 Add CubeFS Graduation Due Diligence Report
  projects/chubaofs/cubefs-adopter-interview-beike.md
  projects/chubaofs/cubefs-adopter-interview-jd.com.md
  projects/chubaofs/cubefs-adopter-interview-netease.md
  projects/chubaofs/cubefs-graduation-dd.md
Labels: graduation, gitvote

#1140 Proposing CubeFS for graduation
  projects/cubefs/cubefs-adopter-interview-beike.md
  projects/cubefs/cubefs-adopter-interview-jd.com.md
  projects/cubefs/cubefs-adopter-interview-netease.md
  projects/cubefs/cubefs-graduation-dd.md
  projects/cubefs/cubefs-graduation-proposal.md
Labels: graduation, tag-storage
