Repository cncf/toc, pull requests merged in 2025-02, with the labels that each got.

#1522 In-toto Graduation DD - TOC evaluation
  projects/in-toto/in-toto-adopter-interview-chainguard.md
  projects/in-toto/in-toto-adopter-interview-github.md
  projects/in-toto/in-toto-adopter-interview-lockheedmartins.md
  projects/in-toto/in-toto-graduation-dd.md
Labels: gitvote

#1513 Kubescape Incubation DD - TOC Evaluation
  projects/kubescape/kubescape-incubation-proposal.md
Labels: incubation, gitvote

#797 Proposal: OpenYurt to Incubation
  proposals/incubation/openyurt.md
Labels: incubation

#1510 add openyurt incubation document
  projects/openyurt/2024-OpenYurt-incubation.md
Labels: incubation, gitvote

#1162 ENH:proposals: add in-toto graduation proposal
  proposals/graduation/in-toto.md
Labels: graduation
